/* Dark Mode */

.mod-dark {
  background-color: black;
}

.mod-dark .mode:before {
  color: #ffffff;
  content: "Dark Mode";
}

/* changes bg to black elegeant  in dark mode */
.mod-dark .CardsBack  {
  
  background-color:#212121;
} 
/* changes text color of cards back coursers to red in dark mode*/
.mod-dark .CardsBack p {
color :white
/* changes text color of cards back coursers title to orange in dark mode*/
}
.mod-dark .CardsBack h4 ,h2 {
  color : orangered
  
  }
  /* styling in white mode*/
.CardsBack  h4,h2,h5{
  color:#1e88e5;
}

.mod-dark .milestoneSection
{
background-color:#212121 ;
}
/* changes background color of card news*/
.mod-dark .cardNews  {
  background-color: #1C2331 ;
}
.mod-dark .contentNews ,h3{
   color:white;
}
.mod-dark .newsSlider{
  background-color:#1C2331;
}
/* p tag styling of topOneSection of coursers in dark mode*/
.mod-dark .topOneSection p ,h5{ 
color: white;
  }
.mod-dark h3,h4,h5,h6,h1{
  color: #ffffff;
}
h5{
  color :gray;
}
.mod-dark p{
  color: #ffffff;
}
p{
  color : black;
}
.mod-dark span {
  color: #bed5ff;
}

.mod-dark .socials {
  filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(312deg)
    brightness(102%) contrast(100%);
}

.mod-dark .links a {
  filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(312deg)
    brightness(102%) contrast(100%);
}
